<br><br>

<!-- <button type="button" onclick="this.parentNode.querySelector('[type=number]').stepDown();">-</button> -->
<input required type="number" name="maxopen" min="1" max="100" value="1">
<label for="maxopen">Maximum open allowed</label>
<!-- <button type="button" onclick="this.parentNode.querySelector('[type=number]').stepUp();">+</button> -->

<br><br>


<input type="datetime-local" name="expiration">
<label for="expiration">Expiration date</label>

<br><br>


<input type="submit" value="share" />

<br><br>
