<br><br>

<input required type="number" name="maxopen" min="1" max="100" value="1">
<label for="maxopen">Maximum open allowed</label>

<br><br>


<!-- <input required id="expiration" type="datetime-local" name="expiration"> -->
<input required id="expiration" type="date" name="expiration">
<label for="expiration">Expiration date</label>

<br><br>


<input type="submit" value="share" />

<br><br>


<script>
    var date = new Date();
    date.setMonth(date.getMonth() + 3);
    expiration = document.getElementById('expiration')
    expiration.valueAsDate = date
</script>