<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <title>Share</title>

  <link rel="icon" type="image/x-icon" href="../static/default-logo.png" />

  <link rel="stylesheet" href="../static/main.css" />
  <link rel="stylesheet" href="../static/custom/theme.css" />

  <script type="text/javascript" src="../static/main.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
</head>

<body>
  <script>
    function getDarkmodeStatus() {
      var boolean = localStorage.getItem("darkmode") === "true";
      return boolean;
    }

    function setDarkmode() {
      document.body.classList.toggle("dark", getDarkmodeStatus());
    }

    // Set the darkmode when entering navigation
    setDarkmode();

    window.onload = function () {
      // Darkmode
      const darkmode = document.getElementById("darkmode");
      darkmode.checked = getDarkmodeStatus(); // Check the checkbox according to what's stored in the session storage
      darkmode.addEventListener("change", (event) => {
        localStorage.setItem("darkmode", event.target.checked);
        setDarkmode();
      });

      // Logo
      var logo = document.getElementById("logo");
      if (!checkUrl("/static/custom/logo.png")) {
        // Create an object to be able to read the SVG from its file
        let object = document.createElement("object");
        object.setAttribute("type", "image/svg+xml");
        object.setAttribute("data", "../static/default-logo.svg");

        // Add the object under the logo placeholder
        logo.appendChild(object);

        // Get the SVG in the DOM to be able to change its color
        let svg = logo.children[0]; // get the <img> inside the logo div
        svg.addEventListener(
          "load",
          function () {
            let item = svg.contentDocument.getElementById("svg");

            // Trick to get the color from an item that is already used in the DOM to be able to apply it to the SVG
            let elementThatHasColor =
              document.getElementsByClassName("nav-link")[0];
            let color = window
              .getComputedStyle(elementThatHasColor)
              .getPropertyValue("color");

            item.style.fill = color;
          },
          false
        );
      } else {
        let img = document.createElement("img");
        img.setAttribute("src", "../static/custom/logo.png");
        logo.appendChild(img);
      }
    };
  </script>

  <div class="container-nav">
    <a href="/" class="nav-item">
      <div id="logo">
        <!-- <img src="../static/default-logo.svg" id="logo-img"> -->
      </div>
    </a>

    <a href="/file" class="nav-item">
      <div class="nav-link">File</div>
    </a>

    <a href="/secret" class="nav-item">
      <div class="nav-link">Secret</div>
    </a>

    <div class="nav-item right">
      <div class="nav-link toggle">
        <input id="darkmode" type="checkbox" />
        <label for="darkmode" class="toggle-darkmode"></label>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <!-- next is on layout.footer.html -->
