<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Share</title>

  <!-- <link rel="stylesheet" href="../static/simple-grid.min.css"> -->
  <link rel="stylesheet" href="../static/main.css">

  <script type="text/javascript" src="../static/sha256.js"></script>

</head>

<body>


  <script>
    window.onload = function() {
      const toggle = document.getElementById('toggle');
      toggle.addEventListener('change', (e) => {
        document.body.classList.toggle('dark', e.target.checked)
      })
    }
  </script>







          <a href="/" class="nav-item logo">
              <img src="../static/logo.png" alt="Home">
          </a>

          <a href="/file" class="nav-item">
             File
          </a>

          <a href="/secret" class="nav-item">
              Secret
          </a>


          <div class="nav-item right">
            <input type="checkbox" id="toggle" name="toggle" />
            <label for="toggle"></label>
          </div>

    
        <div class="container">


<!-- next is on layout.footer.html -->