<!DOCTYPE html>

<head>
  <title>Share</title>
  <style>
    body {
      font-family: monospace;
      background-color: #BBC;
      color: #334;
    }

    #content {
      margin: 30px auto 30px auto;
    }

    #footer {
      font-size: 0.8em;
    }
  </style>

  <!-- <script type="text/javascript" src="../static/unlock.js"></script> -->
  <script type="text/javascript" src="../static/sha256.js"></script>

</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/file">File</a>
    <a href="/secret">Secret</a>
  </nav>
  <div id="content">