{{ template "layout.header.html" . }}
<h1>secret uploaded !</h1>

<p>link: <a href="{{.Name}}">{{.Name}}</a></p>


<!-- <input type="text" value="{{.Name}}" id="myInput">


<button onclick="myFunction()" onmouseout="outFunc()">
    <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
    Copy text
    </button>
</div>
  
<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
      
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copied: " + copyText.value;
    }
    
    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
    }
</script> -->


{{ template "layout.footer.html" . }}