{{ template "layout.header.html" . }}
<h1 class="title">Share a file</h1>

<form action="/file/shared" method="post" enctype="multipart/form-data" id="form">

	<input required type="hidden" name="TokenAvoidRefresh" value="{{ .TokenAvoidRefresh }}" />


	<label for="myFile" class="container-file" id="dropcontainer">
		<span class="drop-title">Drop a file</span>
		<input required type="file" name="myFile" id="myFile" />
	</label>


	
	<div id="progresscontainer" class="container-progress ">
		<!-- <label for="file" id="status" class="text">test</label> -->

		<div id="progressbar" class="progress text"></div>

		<!-- <progress id="progressbar" value="20" max="100" data-label="status"></progress> -->
		<!-- <div id="cancel">
			<button class="button button-small">X</button>
		</div> -->
	</div>



	{{ template "layout.form.share.html" . }}
</form>



<script>





	var submit = document.getElementById("submit");
	submit.onclick = function () { uploadFile(); };

	// var cancel = document.getElementById("cancel");


	function _(el) {
		return document.getElementById(el);
	}


	function uploadFile() {

		var file = _("myFile").files[0];

		var formdata = new FormData();
		formdata.append("myFile", file);

		var xhr = new XMLHttpRequest();
		xhr.upload.addEventListener("progress", progressHandler, false);
		xhr.addEventListener("load", completeHandler, false);
		xhr.addEventListener("error", errorHandler, false);
		xhr.addEventListener("abort", abortHandler, false);
		xhr.open("POST", "/file/shared", true);
		xhr.send(formdata);


		// Prevent closing tab while uploading
		window.onbeforeunload = function () {
			if (xhr.readyState == 0) {
				return "Cancel upload?";
			}
		}

		// // Button to cancel upload
		// cancel.addEventListener("click", () => {
		// 	xhr.abort();
		// });



	}


	function progressHandler(event) {
		var percent = (event.loaded / event.total) * 100;
		_("progressbar").innerHTML = Math.round(percent) + "%";

		displayProgress(percent)

	}


	function completeHandler(event) {
		_("status").innerHTML = event.target.responseText;
		_("progressbar").innerHTML = 0;
	}


	function errorHandler(event) {
		_("progressbar").innerHTML = "Failed";
	}


	function abortHandler(event) {
		_("progressbar").innerHTML = "Aborted";
	}


	function displayProgress(width) {
		var progresscontainer = document.getElementById("progresscontainer");
		progresscontainer.classList.replace("hidden", "visible");


		var progressbar = document.getElementById("progressbar");
		progressbar.style.width = width + "%";
	}



</script>


{{ template "layout.footer.html" . }}