{{ template "layout.header.html" . }}
<div id="future">
    <h1 class="title">Unlock share</h1>


    <form id="form">
        <label for="givenPassword">Password</label>
        <input id="givenPassword" type="password" />


        <!-- just to submit the hash with the form -->
        <input id="givenPasswordHash" type="password" disabled hidden />

        <input type="submit" value="unlock">

        <div id="error"></div>
    </form>



    <script>
        form = document.getElementById('form')
        fragment = decodeURIComponent(window.location.hash.substring(1))        // decodeURIComponent is used because the text is coming from an URL, some char might needs to be decoded (like '=' is '%3d' for example)


        // Automatically set the checksum of the password in the hidden input 'givenPasswordHash' to be able to send it through the form
        document.getElementById("givenPassword").addEventListener("input", function () {
            document.getElementById("givenPasswordHash").value = sha256(this.value);
        });


        // This permit to send data to /share/unlock without reloading the HTML.
        // The URL is configured in Go side to return the password
        form.onsubmit = async (e) => {

            e.preventDefault();

            let future = document.getElementById('future')                                  // Element that will be replaced with the content of the share
            let error = document.getElementById('error')                                    // Element to display error like wrong passwords
            let givenPassword = document.getElementById('givenPassword').value              // Password given by the user
            let givenPasswordHash = document.getElementById('givenPasswordHash').value      // Hash of the password given by the user to send to backend



            // Payload to send to backend
            var details = {
                'givenPasswordHash': givenPasswordHash,
            };
            var formBody = [];
            for (var property in details) {
                var encodedKey = encodeURIComponent(property);
                var encodedValue = encodeURIComponent(details[property]);
                formBody.push(encodedKey + "=" + encodedValue);
            }
            formBody = formBody.join("&");
            let response = await fetch('/share/unlock', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                },
                body: formBody
            });



            try {
                let result = await response.json();

                // If the given password correspond to the password of the share
                if (givenPasswordHash === result.sharePasswordHash) {
                    let shareContent

                    if (result.shareContentType === "secret") {
                        shareContent = document.createElement('p')
                        shareContent.innerHTML = result.shareContentValue;
                    }

                    if (result.shareContentType === "file") {
                        shareContent = document.createElement('a')
                        shareContent.innerHTML = result.shareContentValue;
                        shareContent.href = result.shareContentValue;
                    }

                    future.replaceWith(shareContent)
                }
            } catch (e) {
                // console.log(e);

                if (!givenPassword) {
                    display_error('Please fill the password')
                } else {
                    display_error('Wrong password')
                }
            }
        };



        // Read the #fragment again to know if the form must be automatically submitted
        if (fragment) {
            // Automatically set the checksum of the password in the hidden input 'givenPasswordHash' to be able to send it through the form
            document.getElementById("givenPassword").value = fragment;
            document.getElementById("givenPasswordHash").value = sha256(fragment);


            if (document.getElementById("givenPasswordHash").value) {
                // requestSubmit permit to use the submit button of the form 
                form.requestSubmit()
            }
        }



        // Function to write something on the div "error"
        function display_error(message) {
            let data = document.createElement('div')
            data.setAttribute("id", "error");               // Set the ID to always replace the same element with the error

            data.innerHTML = message;
            error.replaceWith(data);
        }



        function downloadFile() {

        }


    </script>
</div>
{{ template "layout.footer.html" . }}