{{ template "layout.header.html" . }}



<div id="future">
    <br>
    <br>
    {{ .Id }}
    <br>
    {{ .Password }}
    <br>
    <br>
    <br>
    <br>


    <form id="form">
        <label for="givenPassword">Password</label>
        <input id="givenPassword" type="text" />

        <!-- just to submit with the form -->
        <input id="givenPasswordHash" type="text" disabled />

        <input type="submit" value="unlock">

        <div id="error"></div>

    </form>



    <script>

        form = document.getElementById('form')
        fragment = decodeURIComponent(window.location.hash.substring(1))        // decodeURIComponent is used because the text is coming from an URL, some char might needs to be decoded (like '=' is '%3d' for example)



        // Automatically set the checksum of the password in the hidden input 'givenPasswordHash' to be able to send it through the form
        document.getElementById("givenPassword").addEventListener("input", function () {
            document.getElementById("givenPasswordHash").value = sha256(this.value);
        });


        // This permit to send data to /share/unlock without reloading the HTML.
        // The URL is configured in Go side to return the password
        form.onsubmit = async (e) => {

            e.preventDefault();

            let future = document.getElementById('future')                                  // Element that will be replaced with the content of the share
            let error = document.getElementById('error')                                    // Element to display error like wrong passwords
            let givenPassword = document.getElementById('givenPassword').value              // Password given by the user
            let givenPasswordHash = document.getElementById('givenPasswordHash').value      // Hash of the password given by the user to send to backend



            // Payload to send to backend
            var details = {
                'givenPasswordHash': givenPasswordHash,
                // 'tokenAvoidRefreshPrevious': tokenAvoidRefreshPrevious
            };

            var formBody = [];
            for (var property in details) {
                var encodedKey = encodeURIComponent(property);
                var encodedValue = encodeURIComponent(details[property]);
                formBody.push(encodedKey + "=" + encodedValue);
            }
            formBody = formBody.join("&");



            // Form to discuss with backend
            let response = await fetch('/share/unlock', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                },
                // body: new FormData(form)
                body: formBody
            });

            try {
                let result = await response.json();


                // If the given password correspond to the password of the share
                if (givenPasswordHash === result.sharePasswordHash) {
                    let data = document.createElement('div')
                    data.innerHTML = result.sharePassword;
                    future.replaceWith(data)
                }
            } catch (e) {
                // console.log(e);

                if (!givenPassword) {
                    display_error('Please fill the password')
                } else {
                    display_error('Wrong password')
                }
            }
        };



        // Read the #fragment again to know if the form must be automatically submitted
        if (fragment) {
            // window.onload = function () {
            // document.addEventListener("DOMContentLoaded", function (event) {

            // Automatically set the checksum of the password in the hidden input 'givenPasswordHash' to be able to send it through the form
            document.getElementById("givenPassword").value = fragment;
            document.getElementById("givenPasswordHash").value = sha256(fragment);

            console.log(fragment)
            console.log("test")

            // const delay = ms => new Promise(res => setTimeout(res, ms));
            // const submit = async () => {
            //     await delay(2000);
            //     console.log("Waited 5s");

            //     form.submit();
            // };

            console.log("before");
            wait(2000);
            console.log("after");



            // form.submit();

            if (document.getElementById("givenPasswordHash").value) {
                console.log("before2");

                form.requestSubmit()
                console.log("after2");
            }


            // }
        }


        function wait(ms) {
            var start = new Date().getTime();
            var end = start;
            while (end < start + ms) {
                end = new Date().getTime();
            }
        }



        // Function to write something on the div "error"
        function display_error(message) {
            let data = document.createElement('div')
            data.setAttribute("id", "error");               // Set the ID to always replace the same element with the error

            data.innerHTML = message;
            error.replaceWith(data);
        }


    </script>

</div>



{{ template "layout.footer.html" . }}