{{ template "layout.header.html" . }}
<h1 class="title">Share created !</h1>

<div class="container-center-inline">
    <div class="container-left">

        <div class="label">
            Share link
            <div class="text text-box">
                {{ .Url }}{{ .Link }}
            </div>
        </div>

        <br>

        <div class="label">
            Password
            <div class="text text-box">
                {{ .Password }}
            </div>
        </div>


        <br>
        <br>


        <div class="label">
            One click link
            <div class="text text-box">
                {{ .Url }}{{ .Link }}#{{ .Password }}
            </div>
        </div>

    </div>
</div>


{{ template "layout.footer.html" . }}