{{ template "layout.header.html" . }}
<h1 class="title">Share a file</h1>

<form action="/file/shared" method="post" enctype="multipart/form-data" id="form">

	<input required type="hidden" name="TokenAvoidRefresh" value="{{ .TokenAvoidRefresh }}" />

	<input required type="file" name="myFile" id="myFile" />



	<div class="container-progress">
		<span id="status"></span>
		<progress id="progressbar" value="0" max="100"></progress>
		<span id="cancel"><button>cancel</button></span>
	</div>





	{{ template "layout.form.share.html" . }}
</form>









<script>



	var submit = document.getElementById("submit");
	// submit.onclick = function () { uploadFile(); };


	var cancel = document.getElementById("cancel");




	function _(el) {
		return document.getElementById(el);
	}


	// function uploadFile() {
	// 	var file = _("myFile").files[0];

	// 	var formdata = new FormData();
	// 	formdata.append("myFile", file);

	// 	var xhr = new XMLHttpRequest();
	// 	xhr.upload.addEventListener("progress", progressHandler, false);
	// 	xhr.addEventListener("load", completeHandler, false);
	// 	xhr.addEventListener("error", errorHandler, false);
	// 	xhr.addEventListener("abort", abortHandler, false);


	// 	cancel.addEventListener("click", () => {
	// 		xhr.abort();
	// 	});

	// 	xhr.open("POST", "/file/shared");
	// 	xhr.send(formdata);
	// }

	submit.onclick = async (e) => {


		e.preventDefault();

		var file = _("myFile").files[0];

		var formdata = new FormData();
		formdata.append("myFile", file);

		var xhr = new XMLHttpRequest();
		xhr.upload.addEventListener("progress", progressHandler, false);
		xhr.addEventListener("load", completeHandler, false);
		xhr.addEventListener("error", errorHandler, false);
		xhr.addEventListener("abort", abortHandler, false);


		cancel.addEventListener("click", () => {
			xhr.abort();
		});

		xhr.open("POST", "/file/shared");
		await xhr.send(formdata);

	};



	function progressHandler(event) {
		// _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;

		// event.preventDefault();


		var percent = (event.loaded / event.total) * 100;
		_("progressbar").value = Math.round(percent);
		_("status").innerHTML = Math.round(percent) + "%";
	}


	function completeHandler(event) {
		_("status").innerHTML = event.target.responseText;
		_("progressbar").value = 0; // will clear progress bar after successful upload
	}


	function errorHandler(event) {
		_("status").innerHTML = "Failed";
	}


	function abortHandler(event) {
		_("status").innerHTML = "Aborted";
	}


</script>


{{ template "layout.footer.html" . }}