{{ template "layout.header.html" . }}
<h1 class="title">Share a file</h1>

<form action="/file/shared" method="post" enctype="multipart/form-data" id="form">

	<input required type="hidden" name="TokenAvoidRefresh" value="{{ .TokenAvoidRefresh }}" />

	<input required type="file" name="myFile" id="myFile" />






	<div id="progresscontainer" class="container-progress ">
		<div id="status" class="text"></div>
		<progress id="progressbar" value="0" max="100"></progress>
		<div id="cancel">
			<button class="button button-small">X</button>
		</div>
	</div>



	{{ template "layout.form.share.html" . }}
</form>



<script>

	var submit = document.getElementById("submit");
	submit.onclick = function () { uploadFile(); };

	var cancel = document.getElementById("cancel");


	function _(el) {
		return document.getElementById(el);
	}


	function uploadFile() {

		var file = _("myFile").files[0];

		var formdata = new FormData();
		formdata.append("myFile", file);

		var xhr = new XMLHttpRequest();
		xhr.upload.addEventListener("progress", progressHandler, false);
		xhr.addEventListener("load", completeHandler, false);
		xhr.addEventListener("error", errorHandler, false);
		xhr.addEventListener("abort", abortHandler, false);
		xhr.open("POST", "/file/shared", true);
		xhr.send(formdata);


		// Prevent closing tab while uploading
		window.onbeforeunload = function () {
			if (xhr.readyState == 0) {
				return "Cancel upload?";
			}
		}

		// Button to cancel upload
		cancel.addEventListener("click", () => {
			xhr.abort();
		});



		displayProgress()
	}


	function progressHandler(event) {
		var percent = (event.loaded / event.total) * 100;
		_("progressbar").value = Math.round(percent);
		_("status").innerHTML = Math.round(percent) + "%";
	}


	function completeHandler(event) {
		_("status").innerHTML = event.target.responseText;
		_("progressbar").value = 0;
	}


	function errorHandler(event) {
		_("status").innerHTML = "Failed";
	}


	function abortHandler(event) {
		_("status").innerHTML = "Aborted";
	}


	function displayProgress() {
		var progresscontainer = document.getElementById("progresscontainer");
		progresscontainer.classList.replace("hidden", "visible");
	}



</script>


{{ template "layout.footer.html" . }}